<h1>Burgers</h1>

<h2>Burgers devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers added</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>



<form class="create-form">

  <div class="form-group">
    <label for="burgerName">Burger Name:</label>
    <input type="text" id="burgerName" name="name">
  </div>

  

  <button type="submit">Submit</button>
</form>
